In [1]:
a = 1

In [2]:
print(type(a))

<class 'int'>

In [3]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [4]:
a = 1; b = 2;

In [5]:
print(a)
print(b)

1
2

In [7]:
c = float(a)

In [9]:
print(c)
print(type(c))

1.0
<class 'float'>

In [10]:
int(c)

1

In [12]:
d = 1.1;print(type(d));print(int(d));float(int(d))

<class 'float'>
1

1.0

In [14]:
a = '123'
type(a)

str

In [15]:
a = 'abc'

In [16]:
a[1]

'b'

In [17]:
a[0]

'a'

In [18]:
a[-1]

'c'

In [19]:
a = [1, 2, 3]

In [21]:
type(a)

list

In [23]:
a = [1, 2, 'a', [4, 5]]

In [24]:
a[-1][-1]

5

In [25]:
a = 'abc'; a = list(a)

In [26]:
a

['a', 'b', 'c']

In [27]:
b = ''

In [28]:
for letter in a:
    b += letter

In [29]:
b

'abc'

In [30]:
type((1,2))

tuple

In [31]:
a = (1,2,3)

In [32]:
a[1] = 3

TypeError: 'tuple' object does not support item assignment

In [33]:
a = {"a" : "apple", "b" : 'banana', 'n' : 2019}

In [34]:
print(type(a))
print(a["a"])

<class 'dict'>
apple